.section-6{
    background-color: rgb(20, 187, 137);
    padding: 40px 20px;
    text-align: center;
}
.section-6-title{
    color: white;
}
.section-6-note{
    font-size: 16.8px;
    color: white;
    line-height: 30px;
    margin: 0px auto;
}
